/*Стили для блока футера*/

.footer {
  .footer__top {

    img {
      @media screen and (max-width: $lg) {
        display: block;
        margin: 0 auto;
      }
    }
    margin-bottom: 74px;

    .row {
      @media screen and (max-width: $lg) {
        row-gap: 24px;
        align-items: center;
      }
    }


    .footer__links {
      text-align: center;

      .footer__links-item-link {
        font-size: 24px;
        color: var(--dark);
      }
    }

    .footer__info {
      text-align: right;
      @media screen and (max-width: $lg) {
        text-align: center;
      }
    }
  }

  .footer__copyright {
    font-size: 14px;
    text-align: center;
    margin-bottom: 24px;
  }
}

/*конец Стили для блока футера*/